* {
  margin: 0;
  font-family: "Amazon Ember", Arial;
  border: border-box;
  min-width: 0;
  /* white-space: normal; */
}

.content {
  height: 2750px;
  width: 100%;
}
.navbar {
  height: 60px;
  background-color: #232f3e86;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  width: 113px;
  height: 52px;
}
.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
  padding-bottom: 1px 8px 0px 6px;
  margin: 1px;
}
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
  cursor: pointer;
}
/* box-2 */
.location {
  width: 90px;
  height: 50px;
  margin: 1px;
  padding-left: 5px;
  padding-top: 5px;
}
.loc {
  width: 88px;
  height: 50px;
  display: flex;
  /* padding-bottom: 30px; */
}
.loc1 {
  font-size: 0.85rem;
  margin-left: 15px;
  padding-top: 5px;
}
.loc2 {
  margin-left: 3px;
}
/* box-3 */
.nav-fill {
  width: 55%;
  height: 50px;
  margin: 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-fill:hover {
  border: 2px solid orange;
}
.search-drop {
  width: 51px;
  height: 36px;
  font-size: 0.9rem;
  text-align: center;
  /* margin-top: 6px; */
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #f3f3f3;
  border: none;
}
.search {
  width: 100%;
  height: 34px;
  /* margin-top: 6px; */
  font-size: 1rem;
  border: none;
}

.search::placeholder {
  padding-left: 10px;
}
.nav-search {
  width: 45px;
  height: 36px;
  background-color: rgb(255, 136, 0);
  /* margin-top:6px; */
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #0f1111;
}
/* box-4 */
.nav-signin {
  width: 150px;
  height: 50px;
  padding-left: 5px;
}
.p1 {
  font-size: 12px;
  padding-top: 12px;
  align-items: center;
}
.p2 {
  font-size: 14px;
  display: inline-flex;
  font-weight: 700;
  margin-bottom: 0%;
}
/* box-5 */
.nav-orders {
  width: 75px;
  height: 50px;
  padding-left: 5px;
}
/* box-6 */
.nav-cart {
  width: 94px;
  height: 50px;
  display: flex;
  align-items: center;
}
.cart-logo {
  font-size: 2rem;
  display: flex;
  width: 38px;
  height: 25px;
  padding-bottom: 6px;
}
.nav-cart p {
  width: 28px;
  /* height: 39px; */
  padding-top: 28px;
  font-weight: 700;
  line-height: 15px;
  padding-left: 1px;
}
.nav-cart:hover {
  transform: translate(1px, 1px);
}
/* navbar2 */
.navbar-2 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: #232f3e;
  align-items: center;
  /* border: 2px solid white; */
}
.menu {
  width: 58px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 11px;
}
.menu i {
  width: 17px;
  height: 14px;
  color: #000;
}
.menu p {
  width: 23px;
  height: 12px;
  padding-bottom: 6px;
  padding-left: 2px;
  font-size: 1rem;
  font-family: italic;
  font-weight: 700;
}
.deal {
  display: flex;
  width: 80%;
  font-size: 0.9rem;
  font-weight: 500;
}
.panel-deal {
  font-weight: 700;
}
.deal-p {
  margin: 5px;
}
/* hero section */
.hero {
  background-image: url("am1\ img.jpg");
  background-size: cover;
  height: 330px;
}
.hero2 {
  height: 40px;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f1111;
  margin: 0px 20px 0px 20px;
  transform: translate(0px, 250px);
}
.hero2 p {
  font-size: 0.9rem;
}
.hero2 a {
  color: #007185;
  text-decoration-line: none;
}
.hero2 a:hover{
  color: rgba(255, 0, 0, 0.758);
  text-decoration: underline;
}
.hero3 {
  height: 1485px;
  /* transform: translate(0px, -270px); */
  padding:20px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(119, 146, 153, 0.194);
}
.box {
  width: 345px;
  height: 385px;
  background-color: #000;
  padding: 20px 0px 15px 0px;
}
.book h2 {
  font-size: 1.4rem;
  transform: translate(20px, 0px);
}
.hero3 h2 {
  font-weight: bold;
}
.hero3 img {
  height: 300px;
  width: 310px;
  margin: 10px 18px 0px 18px;
}
.para {
  transform: translate(20px, 20px);
  color: #007185;
  font-size: 0.8rem;
}
.parara:hover{
  color: rgba(255, 55, 0, 0.884);
  cursor: pointer;
}
.pg:hover{
  text-decoration: underline;
  color: rgba(255, 55, 0, 0.884);
}
.gaming h2 {
  font-size: 1.4rem;
  transform: translate(20px, 0px);
}
.gaming img {
  height: 112px;
  width: 150px;
  margin: 10px 18px 0px 18px;
}
.gaming p {
  transform: translate(20px, 0px);
  font-size: 0.8rem;
  margin-bottom: 10px;
}
#p2 {
  padding-top: 20px;
}
.hero4 h2 {
  font-size: 1.4rem;
  padding-left: 15px;
}
.hero4 p {
  transform: translate(20px, 20px);
  font-size: 0.9rem;
  color: #007185;
}
.hero4 p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.hero4 p::after {
  content: "»";
}
.hero5 h2 {
  font-size: 1.4rem;
  padding-left: 20px;
}
.hero5 p {
  transform: translate(20px, -3px);
  font-size: 1rem;
}

/* section-2 */
.row {
  display: flex;
}
#p3 {
  font-size: 0.8rem;
  padding-top: 10px;
}
.book-seller {
  width: 100%;
  height: 260px;
  background-color: #0f1111;
  margin: 0px 17px;
  padding: 10px 20px;
}
.book-seller h2 {
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 10px;
}
.image {
  display: flex;
}
.image img {
  width: 140px;
  height: 200px;
  margin: 1px 10px 10px 8px;
}
.decor {
  display: flex;
}
.decor p {
  padding-left: 15px;
  padding-top: 15px;
  color: #007185;
}
.decor-image {
  display: flex;
}
.decor-image img {
  margin: 2px 8px 10px 3px;
}
.frame {
  width: 100%;
  height: 166px;
  background-color: #0f1111;
  margin-top: 40px;
}
.frame1 {
  background-color: #0f1111;
  width: 97%;
  height: 120px;
  display: block;
  border: 0.5px solid white;
  border-radius: 5px;
  margin: 10px 0px 0px 0px;
  padding: 10px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#p4 {
  font-size: 0.85rem;
  padding-left: 8px;
  padding-bottom: 5px;
}
#p6 {
  cursor: pointer;
  background-position: right -170px;
  display: block;
  width: 230px;
  background-color: rgba(255, 166, 0, 0.877);
  height: 28px;
  position: relative;
  color: #000;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffe093;
}
#p5 {
  font-size: 0.7rem;
  padding-left: 52px;
  padding-top: 4px;
}
#p5 span {
  color: #007185;
  cursor: pointer;
}
#p5 span:hover {
  color: rgba(255, 0, 0, 0.758);
}
.back{
  width: 100%;
  height: 50px;
  justify-content:center;
  display: flex;
  align-items: center;
  background-color:#37475a;
  font-size: 0.85rem;
}
.foot1{
  width: 100%;
  height: 430px;
  background-color: #232f3e;
  padding: 40px 0px 20px 0px;
}
.foot-p{
  width: 1000px;
  height: 318px;
  margin-left: 220px;
  margin-bottom: 40px;
  justify-content: space-evenly;
  display: flex;
}
.foot-1{
  width: 116px;
  height: 318px;
  color: #DDDDDD;
  padding: 0px 10px 0px 10px;
  font-size: 14px;
}
#s1{
  font-size: 15px;
  font-weight:700;
  padding-right: 5px;
}
ul{
  padding-left: 0px;
}
ul a{
  display: block;
  margin-bottom: 7px;
}
ul a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.foot-p p{
  font-size: 1rem;
  color: #fff;
  margin: 6px 0px 14px;
}
.foot2{
  height: 68px;
  margin: 10px 109px;
  display: flex;
}
.sp1{
  width: 90px;
  height: 64px;
  margin-left: 290px;
  padding: 4px 5px 0px;
  display: flex;
  align-items: center;
}
.span-img{
  background-image: url("amazon_logo.png");
  background-size: cover;
  cursor: pointer;
  width: 100px;
  height: 50px;
  padding-top: 5px;
}
.sp2{
  width: 440px;
  height: 35px;
  display: flex;
  margin: 18px 0px 0px 70px;
  padding: 0px 7.2px;
}
.d1{
  width: 74px;
  height: 33px;
  display: flex;
  justify-content: center;
  margin: 0px 4px 0px 0px;
  padding: 4px 18px 4px 6px;
}
.sp2 p{
  color: #DDDDDD;
  font-size: 0.81rem;
  padding: 0px 7.8px;
  justify-content: space-between;
}
.icon{
  padding-left: 5px;
  padding-bottom: 2px;
}
.d2{
  width: 126px;
  height: 34px;
  display: flex;
  margin: 0px 4px 0px 0px;
  padding: 4px 18px 4px 6px;
}
.dollar{
  width: 7.63px;
  height: 18px;
  font-size: 0.81rem;
}
.d3{
  width: 140px;
  height: 33px;
  display: flex;
  margin: 0px 4px 0px 0px;
  padding: 4px 18px 4px 6px;
}
.ctry{
  width: 18px;
  height: 12px;
  font-size: 1rem;
  color: #004b91;
}
.foot3{
  width: 100%;
  height: 37px;
  background-color: #131A22;
  padding: 10px 0px 30px;
}
.foot-3{
  margin-left: 18px;
  display: flex;
  justify-content: center;
  height: 19px;
}
.foot-3 p{
  padding: 0px 7.2px;
  color: #DDDDDD;
  font-size: 0.75rem;
}
.foot-3 p:hover{
  text-decoration: underline;
  cursor: pointer;
}
.sp-foot{
  display: flex;
  justify-content: center;
  color: #DDDDDD;
  height: 18px;
  font-size: 0.75rem;
  margin:0px 0px 0px 15px;
}
